h1{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif   
  ;font-size: 40px;
  font-weight: bold;
}

.capturing{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 40px;
  margin-top: 50px;
}

.capturing label{
  font-size: 14px;
  font-weight: bold;
}

.capturing p{
  margin:0;
  font-style: oblique;
}

.capturing input{
  width: 150px;
  border-radius: 4px;
  margin-top: 10px;
}
.create-group-capture{
  display: grid;
  grid-template-columns: 500px 100px;
  grid-gap: 20px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.disabled-button{
  width: 300px;
  height: 40px;
  background-color: white;
  color: black;
  border-color: 2px black;
  border-radius: 5px;
}
.create-button{
  width: 300px;
  height: 40px;
  background-color: black;
  color: white;
  border-color: 2px black;
  border-radius: 5px;
}

.create-button:hover{
  background-color: #EA1F25;
  color:black;
  border-color: 2px black;

}