h1{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif   
  ;font-size: 22pt;
  font-weight: bold;
}

.impressum-block span{
  display: block;
}

.impressum-block span h2{
  font-size: 13pt;
  font-weight: bold;
}

.link a{
  color: black;
  text-decoration-line: none;
}

.link a:hover{
  color: blue;
  text-decoration-line: underline;
}